.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #e6e6e6;;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #b5b1b1;
    min-width: 300px;
}

.form {
    flex-direction: column;
    gap: 10px;
}